<page size="A4">
<br/>
<br/>


<p style="   border: 1px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    width: 569px;
    margin-left: 85px;
    margin-top: 36px;
    font-size: 30px;">

Great Rohini - Condition Assesment, Formal<br/>
SMS Review,Inspection &amp; Training Report
<br/>
<br/>
16th Jan 2020

</p>
<span style="margin-left: 11%;">Controlled document</span>

<table style="    margin-left: 84px;
    width: 636px;
    margin-top: 117px;">
  
  <tr>
    <td style="width: 60px;"></td>
<td style="width: 86px;"></td>
   
<td style="width: 566px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
   
   

  </tr>
  <tr>
        <td style="width: 60px;"></td>
<td style="width: 86px;"></td>
   
<td style="width: 566px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
  </tr>
  <tr>
             <td style="width: 60px;"></td>
<td style="width: 86px;"></td>
   
<td style="width: 566px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
    
  </tr>

<tr>
        <td style="width: 60px;"></td>
<td style="width: 86px;"></td>
   
<td style="width: 566px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   

  </tr>
  <tr>
        <td style="width: 60px;"></td>
<td style="width: 86px;"></td>
   
<td style="width: 566px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
  </tr>
  <tr>
         <td style="width: 60px;"></td>
<td style="width: 86px;"></td>
   
<td style="width: 566px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
    
  </tr>


<tr>
       <td style="width: 60px;"></td>
<td style="width: 86px;"></td>
   
<td style="width: 566px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>
   
<td style="width: 52px;"></td>

  </tr>
  <tr>
     <td style="width: 60px;">B</td>
    <td style="width: 86px;">23.02.2020</td>
    <td style="width: 566px;">Issued for the vessel</td>
    <td style="width: 52px;">SK</td>
    <td style="width: 52px;">RS</td>
    <td style="width: 52px;">LT</td>
   
  </tr>
  <tr>
      <td style="width: 60px;">A</td>
    <td style="width: 86px;">17.02.2020</td>
    <td style="width: 566px;">Issued for internal vessel</td>
    <td style="width: 52px;">SK</td>
    <td style="width: 52px;">RS</td>
    <td style="width: 52px;">LT</td>
   
    
  </tr>

<tr>
    <th style="width: 60px;">Rev</th>
    <th style="width: 86px;">Date</th>
    <th style="width: 566px;">Reason for Revision</th>
<th style="width: 52px;">Orig</th>
<th style="width: 52px;">Chk</th>
<th style="width: 52px;">App</th>

  </tr>
</table>
<span style="font-size: 10px;
    padding-left: 128px;">This document is the property of the greatship group who will safegaurd its rights according to the civil and penal provisions of the Law</span>
</page>
