<div th:fragment="section(sec)">
   <body>
      <table cellspacing="0">
         <tr>
            <td bgcolor="#CCCCCC" style="width: 80%;">
               <p class="s1"><b><u>HULL</u></b></p>
            </td>
         </tr>
      </table>
      <div th:each="question, iterStat : ${sec.getQuestions()}">
          <!-- To remove question of 1st index -->
         <div th:if="${iterStat.index == 0}">
            <p class="s2"><b><u></u></b></p>
            <p class="s3"> <span th:text="${question.getAnswerAttrib('remark')}"> </span> </p>
         </div>
         <div th:unless="${iterStat.index == 0}">
            <p class="s2"><b><u><span th:text="${question.questionText}"> </span></u></b></p>
            <p class="s3"> <span th:text="${question.getAnswerAttrib('remark')}"> </span> </p>
         </div>
         <!-- attachments come here, give index of sections which contain images -->
         <div th:if="${iterStat.index == 6}">
            <th:block th:with="question=${sec.getQuestions().get(iterStat.index)}">
               <br/>
               <th:block th:replace="bravo/detail/attachment.html :: attach(${question.getAttachments()})"></th:block>
            </th:block>
         </div>
      </div>
   </body>
</div>
