<div th:fragment="section(sec)">
   <body>
      <table cellspacing="0">
         <tr>
            <td bgcolor="#CCCCCC" style="width: 80%;">
               <p class="s1"><b><u>RADIO-COMMUNICATION EQUIPMENT:</u></b></p>
            </td>
         </tr>
      </table>
      <div th:each="question, iterStat : ${sec.getQuestions()}">
         <!-- To remove question of 1st index -->
         <div th:if="${iterStat.index == 0}">
            <p class="s2"><b><u></u></b></p>
            <p class="s3"> <span th:text="${question.getAnswerAttrib('remark')}"> </span> </p>
         </div>
		<div th:unless="${iterStat.index == 0 or (iterStat.index >=7 && iterStat.index <=16) or (iterStat.index >=21 && iterStat.index <=30) }">
<!--          	<div th:if="${question.type.name().equals('Option')}">
         		<p class="s2"><b><u><span th:text="${question.questionText}"> </span></u></b></p>
            	<p class="s3"> <span th:text="${question.getAnswerAttrib('answer')}"> </span> </p>        	
         	</div> -->
         	<div th:unless="${question.type.name().equals('Option')}">
          		<p class="s2"><b><u><span th:text="${question.questionText}"> </span></u></b></p>
            	<p class="s3"> <span th:text="${question.getAnswerAttrib('remark')}"> </span> </p>
         	</div>
         	<!-- table 1 -->
            <div th:if="${iterStat.index == 3}">
            	<table>
            	<tr><th><p>Equipment</p></th><th><p>Suction Pressure</p></th><th><p>LO Pressure</p></th><th><p>Discharge Pressure</p></th><th><p>SW Inlet</p></th><th><p>SW Outlet</p></th></tr>
            	<tr><td><p>AirCon 1</p></td><td><p><span th:text="${sec.getQuestions().get(4).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(5).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(6).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(7).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(8).getAnswerAttrib('remark')}"/></p></td></tr>
            	<tr><td><p>AirCon 2</p></td><td><p><span th:text="${sec.getQuestions().get(9).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(10).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(11).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(12).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(13).getAnswerAttrib('remark')}"/></p></td></tr>
            	</table>         	
         	</div>
         	<!-- table 2 -->
            <div th:if="${iterStat.index == 17}">
            	<table>
            	<tr><th><p>Equipment</p></th><th><p>Suction Pressure</p></th><th><p>LO Pressure</p></th><th><p>Discharge Pressure</p></th><th><p>SW Inlet</p></th><th><p>SW Outlet</p></th></tr>
            	<tr><td><p>ReeferComp 1</p></td><td><p><span th:text="${sec.getQuestions().get(18).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(19).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(20).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(21).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(22).getAnswerAttrib('remark')}"/></p></td></tr>
            	<tr><td><p>ReeferComp 2</p></td><td><p><span th:text="${sec.getQuestions().get(23).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(24).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(25).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(26).getAnswerAttrib('remark')}"/></p></td><td><p><span th:text="${sec.getQuestions().get(27).getAnswerAttrib('remark')}"/></p></td></tr>
            	</table>         	
         	</div>      
        </div>
         <!-- attachments come here, give index of sections which contain images -->
         <div th:if="${iterStat.index == 2 or iterStat.index == 34}">
            <th:block th:with="question=${sec.getQuestions().get(iterStat.index)}">
               <br/>
               <th:block th:replace="bravo/detail/attachment.html :: attach(${question.getAttachments()})"></th:block>
            </th:block>
         </div>
      </div>
   </body>
</div>
