<div th:fragment="section(sec)">
<table style="width:100%">
<tr>
<td style="width:23%"><span style="color: black;font-weight: bold" th:text="${sec.getName()}"></span></td>
<td colspan="4"></td>
</tr>

<tr>
<td  style="width:23%"><span
							th:text="${sec.getQuestions().get(0).questionText}"></span></td>
<td><span th:text="${sec.getQuestions().get(0).getAnswerAttrib('remark')}"></span></td>
<td><span th:text="${sec.getQuestions().get(0).getAnswerAttrib('remark')}"></span></td>
<td><span th:text="${sec.getQuestions().get(0).getAnswerAttrib('remark')}"></span></td>
<td><span th:text="${sec.getQuestions().get(0).getAnswerAttrib('remark')}"></span></td>
</tr>

<tr>
<td  style="width:23%"><span
							th:text="${sec.getQuestions().get(1).questionText}"></span></td>
<td><span th:text="${sec.getQuestions().get(1).getAnswerAttrib('remark')}"></span></td>
<td><span th:text="${sec.getQuestions().get(1).getAnswerAttrib('remark')}"></span></td>
<td><span th:text="${sec.getQuestions().get(1).getAnswerAttrib('remark')}"></span></td>
<td><span th:text="${sec.getQuestions().get(1).getAnswerAttrib('remark')}"></span></td>
</tr>

</table>
</div>