<div th:fragment="section(sec)">
<table style="width:100%">
<tr>
<td style="width:23%"><span style="color: black;font-weight: bold" th:text="${sec.getName()}"></span></td>
<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td>SG1/BUS</td>
        <td>SG2/BUS</td>
    </tr>
</table>
</td>
<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td>SG1/BUS</td>
        <td>SG2/BUS</td>
    </tr>
</table>
</td>
<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td>SG1/BUS</td>
        <td>SG2/BUS</td>
    </tr>
</table>
</td>
<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td>SG1/BUS</td>
        <td>SG2/BUS</td>
    </tr>
</table>
</td>
</tr>

<tr>
<td  style="width:23%"><span th:text="${sec.getQuestions().get(0).questionText}"></span></td>
<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
</td>


<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
</td>

<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
</td>

<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
</td>



</tr>


<tr>
<td  style="width:23%"><span
							th:text="${sec.getQuestions().get(1).questionText}"></span></td>
<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td><span  th:text="${sec.getQuestions().get(1).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span><span>kW</span></td>
        <td><span  th:text="${sec.getQuestions().get(1).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span><span>kW</span></td>
    </tr>
</table>
</td>


<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
       <td><span  th:text="${sec.getQuestions().get(1).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span><span>kW</span></td>
        <td><span  th:text="${sec.getQuestions().get(1).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span><span>kW</span></td>
    </tr>
</table>
</td>

<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td><span  th:text="${sec.getQuestions().get(1).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span><span>kW</span></td>
        <td><span  th:text="${sec.getQuestions().get(1).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span><span>kW</span></td>
    </tr>
</table>
</td>

<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td><span  th:text="${sec.getQuestions().get(1).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span><span>kW</span></td>
        <td><span  th:text="${sec.getQuestions().get(1).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span><span>kW</span></td>
    </tr>
</table>
</td>



</tr>

<tr>
<td  style="width:23%"><span
							th:text="${sec.getQuestions().get(2).questionText}"></span></td>
<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
         <td><span  th:text="${sec.getQuestions().get(2).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span><span>kW</span></td>
        <td><span  th:text="${sec.getQuestions().get(2).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span><span>kW</span></td>
    </tr>
</table>
</td>

<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
         <td><span  th:text="${sec.getQuestions().get(2).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span><span>kW</span></td>
        <td><span  th:text="${sec.getQuestions().get(2).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span><span>kW</span></td>
    </tr>
</table>
</td>

<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
         <td><span  th:text="${sec.getQuestions().get(2).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span><span>kW</span></td>
        <td><span  th:text="${sec.getQuestions().get(2).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span><span>kW</span></td>
    </tr>
</table>
</td>

<td>

<table class="fixed" style="width:100%">
    <col width="50%" />
    <col width="50%" />
    
    <tr>
        <td><span  th:text="${sec.getQuestions().get(2).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span><span>kW</span></td>
        <td><span  th:text="${sec.getQuestions().get(2).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span><span>kW</span></td>
    </tr>
</table>
</td>



</tr>

<tr>
<td  style="width:23%"><span
							th:text="${sec.getQuestions().get(3).questionText}"></span></td>
<td>

<table class="fixed" style="width:100%">
   <col width="33.3%" />
    <col width="33.3%" />
    <col width="33.3%" />
    
     
    <tr>
        <td><span>1:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span></td>
        <td><span>2:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span></td>
        <td><span>3:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(2).getAnswerAttrib('remark')}"></span></td>
    </tr>
</table>

</td>


<td>

<table class="fixed" style="width:100%">
   <col width="33.3%" />
    <col width="33.3%" />
    <col width="33.3%" />
    
     
    <tr>
        <td><span>1:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span></td>
        <td><span>2:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span></td>
        <td><span>3:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(2).getAnswerAttrib('remark')}"></span></td>
    </tr>
</table>

</td>

<td>

<table class="fixed" style="width:100%">
   <col width="33.3%" />
    <col width="33.3%" />
    <col width="33.3%" />
    
     
    <tr>
       <td><span>1:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span></td>
        <td><span>2:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span></td>
        <td><span>3:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(2).getAnswerAttrib('remark')}"></span></td>
    </tr>
</table>

</td>

<td>

<table class="fixed" style="width:100%">
   <col width="33.3%" />
    <col width="33.3%" />
    <col width="33.3%" />
    
     
    <tr>
       <td><span>1:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(0).getAnswerAttrib('remark')}"></span></td>
        <td><span>2:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(1).getAnswerAttrib('remark')}"></span></td>
        <td><span>3:</span><span  th:text="${sec.getQuestions().get(3).getChildQuestions().get(2).getAnswerAttrib('remark')}"></span></td>
    </tr>
</table>

</td>



</tr>


</table>
</div>