<div th:fragment="additional(checklist)">

<div style="border:solid; padding-left:10px;margin-top:10%">
<div style="margin-top:10px">
<span><b>6.ADDITIONAL EQUIPMENT</b></span>
</div>

<div style="margin-top:20px">
<span>Portable Salvage Pump</span>

<span style="margin-left:2%">Qty</span>
<input th:value="${helper.getAttrValue('PSPQty')}" style="border: 2px solid black;color:black;width:50px;height:30px;font-size:9px" type="text"/>

<span style="margin-left:2%">Monitors</span>
<input th:value="${helper.getAttrValue('PSPtype')}" style="border: 2px solid black;color:black;width:120px;height:30px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">Total capacity</span>
<input th:value="${helper.getAttrValue('PSPQ_Cap')}" style="border: 2px solid black;color:black;width:80px;height:30px;margin-left:28.5px;font-size:9px" type="text"/>
</div>

<div>
<span>Fire Fighting</span>

<span style="margin-left:10.45%">Type</span>
<input th:value="${helper.getAttrValue('FFT')}" style="border: 2px solid black;color:black;width:50px;height:30px;font-size:9px" type="text"/>

<span style="margin-left:2%">Monitors</span>
<input th:value="${helper.getAttrValue('FFM')}" style="border: 2px solid black;color:black;width:120px;height:30px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">Total capacity</span>
<input th:value="${helper.getAttrValue('FFTC')}" style="border: 2px solid black;color:black;width:80px;height:30px;margin-left:28.5px;font-size:9px" type="text"/>
</div>

<div>
<span>Gas cutting gear</span>

<span style="margin-left:8.65%">Qty</span>
<input th:value="${helper.getAttrValue('GCGQ')}" style="border: 2px solid black;color:black;width:50px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:5.9%">Type</span>
<input th:value="${helper.getAttrValue('GCGM')}" style="border: 2px solid black;color:black;width:120px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">Portable</span>
<input th:value="${helper.getAttrValue('GCGTC')}" style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:66px;font-size:9px" type="text"/>
</div>

<div>
<span>Welding equipment</span>

<span style="margin-left:5.4%">Qty</span>
<input th:value="${helper.getAttrValue('WEQ')}" style="border: 2px solid black;color:black;width:50px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:5.9%">Type</span>
<input th:value="${helper.getAttrValue('WET')}" style="border: 2px solid black;color:black;width:120px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">Portable</span>
<input th:value="${helper.getAttrValue('WEP')}" style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:65.7px;font-size:9px" type="text"/>
</div>

<div>
<span>Rescue craft</span>

<span style="margin-left:12.45%">Qty</span>
<input th:value="${helper.getAttrValue('RCQ')}" style="border: 2px solid black;color:black;width:50px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:1.3%">No. of persons</span>
<input th:value="${helper.getAttrValue('RCNP')}" style="border: 2px solid black;color:black;width:90px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">Engine HP</span>
<input th:value="${helper.getAttrValue('RCHP')}" style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:49px;font-size:9px" type="text"/>
</div>

<div>
<span>Man overboard boat</span>

<span style="margin-left:4.95%">Qty</span>
<input th:value="${helper.getAttrValue('MOBQty')}" style="border: 2px solid black;color:black;width:50px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:1.3%">No. of persons</span>
<input th:value="${helper.getAttrValue('MOBNP')}" style="border: 2px solid black;color:black;width:90px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">Engine HP</span>
<input th:value="${helper.getAttrValue('MOBHP')}" style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:49px;font-size:9px" type="text"/>
</div>


<div>
<span>Port Anchor</span>

<span style="margin-left:11.2%">Type</span>
<input th:value="${helper.getAttrValue('PAty')}" style="border: 2px solid black;color:black;width:100px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:1.4%">weight</span>
<input th:value="${helper.getAttrValue('PAW')}" style="border: 2px solid black;color:black;width:90px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">cable dia * Length</span>
<input th:value="${helper.getAttrValue('PACab')}" style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:0px;font-size:9px" type="text"/>
</div>

<div>
<span>Starboard Anchor</span>

<span style="margin-left:5.9%">Type</span>
<input th:value="${helper.getAttrValue('SATy')}" style="border: 2px solid black;color:black;width:100px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:1.4%">weight</span>
<input th:value="${helper.getAttrValue('SAW')}" style="border: 2px solid black;color:black;width:90px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">cable dia * Length</span>
<input th:value="${helper.getAttrValue('SACab')}" style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:0px;font-size:9px" type="text"/>
</div>



<div>
<span>Spare Anchor</span>

<span  style="margin-left:9.75%">Type</span>
<input th:value="${helper.getAttrValue('SAT')}" style="border: 2px solid black;color:black;width:100px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:1.4%">weight</span>
<input th:value="${helper.getAttrValue('SAWt')}" style="border: 2px solid black;color:black;width:90px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">cable dia * Length</span>
<input th:value="${helper.getAttrValue('SAC')}" style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:0px;font-size:9px" type="text"/>
</div>

<div>
<span>Oil water seperator</span>

<span style="margin-left:5.9%">Qty</span>
<input th:value="${helper.getAttrValue('OWSQty')}" style="border: 2px solid black;color:black;width:100px;height:30px;font-size:9px" type="text"/>

<span style="margin-left:1.4%">weight</span>
<input th:value="${helper.getAttrValue('OWST')}" style="border: 2px solid black;color:black;width:90px;height:30px;font-size:9px" type="text"/>

<span style="margin-left:0.5%">capacity</span>
<input th:value="${helper.getAttrValue('OWSC')}" style="border: 2px solid black;color:black;width:80px;height:30px;margin-left:66px;font-size:9px" type="text"/>
</div>


<div>
<span>Water maker</span>

<span style="margin-left:11.8%">Qty</span>
<input th:value="${helper.getAttrValue('WMQ')}" style="border: 2px solid black;color:black;width:100px;height:30px;font-size:9px" type="text"/>

<span style="margin-left:1.4%">weight</span>
<input th:value="${helper.getAttrValue('WMTy')}" style="border: 2px solid black;color:black;width:90px;height:30px;font-size:9px" type="text"/>

<span style="margin-left:0.6%">Capacity</span>
<input th:value="${helper.getAttrValue('WMC')}" style="border: 2px solid black;color:black;width:80px;height:30px;margin-left:61.8px;font-size:9px" type="text"/>
</div>

<div>
<span>Sewage treatment</span>

<span style="margin-left:7.15%">Qty</span>
<input th:value="${helper.getAttrValue('STQ')}" style="border: 2px solid black;color:black;width:100px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:3%">Type</span>
<input th:value="${helper.getAttrValue('STT')}" style="border: 2px solid black;color:black;width:90px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.6%">Capacity</span>
<input th:value="${helper.getAttrValue('STTC')}" style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:61.7px;font-size:9px" type="text"/>
</div>

<div>
<span>Incinerator</span>

<span style="margin-left:13.75%">Qty</span>
<input style="border: 2px solid black;color:black;width:100px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:3%">Type</span>
<input style="border: 2px solid black;color:black;width:90px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.6%">Capacity</span>
<input style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:61.7px;font-size:9px" type="text"/>
</div>


<div>
<span>Compactor</span>

<span style="margin-left:13.6%">Qty</span>
<input style="border: 2px solid black;color:black;width:100px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:3%">Type</span>
<input style="border: 2px solid black;color:black;width:90px;height:20px;font-size:9px" type="text"/>

<span style="margin-left:0.6%">Capacity</span>
<input style="border: 2px solid black;color:black;width:80px;height:20px;margin-left:61.7px;font-size:9px" type="text"/>
</div>

</div>
</div>