<div th:fragment="navigation(checklist)">

<div style="border:solid; padding-left:10px">

<div style="margin-top:30px">
<span><b>4.NAVIGATION EQUIPMENT</b></span>
</div>
<div style="margin-top:10px">

<span>
Radar 1
</span>

 <span style="margin-left:17.3%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('Rad1_mk')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('Rad1_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
 
 <div>

<span>
Radar 2
</span>

 <span style="margin-left:17.3%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('Rad2_mk')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('Rad2_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
 
 
 <div>

<span>
GPS
</span>

 <span style="margin-left:20.4%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('GPS_Make')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('GPS_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
 

<div>

<span>
Echo sounder
</span>

 <span style="margin-left:11.7%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('Echo_mk')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('Echo_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
 
 
 <div>

<span>
Gyro compass
</span>

 <span style="margin-left:11%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('Gyro_comp')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('Gyro_comp_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>

<div>

<span>
Auto-Pilot
</span>

 <span style="margin-left:14.65%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('AP_mk')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('AP_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
 
 
 <div>

<span>
Magnetic Compass
</span>

 <span style="margin-left:6.35%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('MagComp_mk')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('MagComp_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>


<div>

<span>
AIS
</span>

 <span style="margin-left:20.9%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('AIS_mk')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('AIS_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
<div>

<span>
Weather fax
</span>

 <span style="margin-left:13%">
 Make
 </span>
 <input style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
 
 <div>

<span>
Navtex
</span>

 <span style="margin-left:17.9%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('Nav_mk')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('Nav_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
 
 
 <div>

<span>
ECDIS
</span>

 <span style="margin-left:17.9%">
 Make
 </span>
 <input th:value="${helper.getAttrValue('ECDIS_mk')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>
 
 
 <span style="margin-left:80.5px">
 Type No: 
  </span>
 <input th:value="${helper.getAttrValue('ECDIS_Typ')}" style="border: 2px solid black;color:black;width:150px;height:20px;font-size:9px" type="text"/>

 </div>
<div style="margin-top:150px">
</div>
</div>
</div>
