<div th:fragment="section(sec)">

	<table style="width: 100%;">
		<tr>
			<td colspan="2" style="border-style:none"><b><span style="color: black;font-size:16px;font-family: Arial Bold;"></span></b><u><b><span style="color: black;font-size:16px;" th:text="${sec.getName()}"></span></b></u>
		<br/>
		<br/>
		
			<th:block th:with="question=${sec.getQuestions().get(0)}">
			
				<u><span style='font-size: 12px'
				th:text="${sec.getQuestions().get(0).questionText}"></span></u> 
				<span style="font-size: 12px"
				th:style="${helper.checkNCForOption(sec.getQuestions().get(0))} == FALSE ? 'color: black' : 'color: red'">
				<span style="font-family : sans-serif" th:text="${sec.getQuestions().get(0).getAnswerAttrib('answer')}"> Name</span><br/>
				
				<span style="font-family : sans-serif" th:text="${#strings.replace(sec.getQuestions().get(0).getAnswerAttrib('remark'),'[NC]','')}"> Name</span></span><br/>
				
			
			<br/><th:block th:replace="test/detail/attachment.html :: attach(${question.getAttachments()})"></th:block>
				</th:block>
			</td></tr>
			
						
			
			
						
		
	</table>
</div>
